<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanantec.ynbus" >
    <application>
        <provider
            android:authorities="${applicationId}.contextprovider"
            android:name="com.yanantec.ynbus.YnContentProvider"
            android:exported="true"/>
    </application>
</manifest>

